/*@font-face {
	font-family: 'Cuprum';
	src: url('../fonts/Cuprum-Bold.eot');
	src: local('☺'), url('../fonts/Cuprum-Bold.woff') format('woff'), 
	url('../fonts/Cuprum-Bold.ttf') format('truetype'), 
	url('../fonts/Cuprum-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}*/

*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}
/*--------------------*/



body, html{
	font-family: 'Cuprum';
	width: 100%;
}
.wrapper {
	width: 100%;
}
.header {
	background-color: #f3f7f9;
	width: 100%;
	height:320px; 
}
.header__top-panel{
	width: 100%;
	max-height: 42px;
	background-color: #293449;
}
.container {
	max-width: 940px;
	margin: 0 auto;
}
.top__panel__flex {
	display: flex;
	justify-content: space-between;
}
.top-panel__logo {
	width: 220px;
	height: 47px;
	box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
	background-color: #ee3643;
	text-align: center;
	color: #ffffff;
	font-family: Cuprum;
	font-size: 24px;
	font-weight: 400;
	line-height: 42px;
}
.form__search__wrap {
	display: flex;
	padding: 10px;
}
.button__search {
	/*padding: 10px;*/
	width: 41px;
	height: 22px;
	background-color: #293449;
	color: #ffffff;
	font-family: Cuprum;
	font-size: 17px;
	font-weight: 400;
	line-height: 18px;
}
.input__search {
	margin-left: 10px;
	width: 80px;
	height: 22px;
}
.bookmark__wrap {
	display: flex;
}
.bookmark {
	display: flex;
	justify-content: space-between;
}
.fa-bookmark:before{
	content: "\f02e";
	/*font-family: 'Awesome';*/
	font-size: 17px;
	line-height: 42px;
}
.fa {
	/*line-height: 42px;*/
}
.fa-bookmark {
/*	line-height: 42px;*/
}
.fa-inverse {}
.bookmark__text {
	color: #ffffff;
	font-family: Cuprum;
	font-size: 17px;
	font-weight: 400;
	line-height: 42px;
	text-align: center;
	padding: 0 10px;
}
.backet {
	display: flex;
}
.fa-shopping-basket:before {
	content:"\f291";
	font-size: 17px;
	line-height: 42px;
}
.order__wrap {
	width: 150px;
	height: 42px;
	background-color: #63a63e;
}
.header__content__wrap {}
.container {}
.header__content__row {
	margin-top: 45px;
	margin-left: 53px;
	margin-bottom: 44px;
	max-width: 862px;
	display: flex;
	justify-content: space-between;
}
.content__column {
	flex: 1 1 33.3333%;
}
.column__body {}
.column__body__text {
	color: #ee3643;
	font-family: Cuprum;
	font-size: 16px;
	line-height: 23px;
}
.column__body__info {}
.fa-phone {
	color: #b7bfc8;
}
.fa-phone:before {
    content: "\f095";
    font-size: 21px;
    color: #b7bfc8;
}
.body__info__phone {
	display: flex;
}
.phone{
	margin-left: 40px;
	color: #ee3643;
	font-family: Cuprum;
	font-size: 21px;
	font-weight: 400;
	line-height: 21px;
}
.body__info__addres {
	margin-top: 21px;
	color: #32425c;
	font-family: Cuprum;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
}
.column__body__form-login {}
.button__login {
	background-color: #FFF;
	width: 121px;
	height: 45px;
	color: #000000;
	font-family: Cuprum;
	font-size: 21px;
	font-weight: 400;
	line-height: 21px;
}
.button__registr {
	background-color: #fff;
	width: 150px;
	height: 45px;
	margin-left: 10px;
	color: #000000;
	font-family: Cuprum;
	font-size: 21px;
	font-weight: 400;
	line-height: 21px;
}

.nav {}
.container {}
.list__menu {
	display: flex;
	justify-content: space-around;
	max-width: 100%;
	min-height: 60px;
	box-shadow: inset 0 -5px 0 #293449;
	background-color: #32425c;
}
.link__menu {}
.link {
	color: #ffffff;
	font-family: Cuprum;
	font-size: 17px;
	font-weight: 400;
	line-height: 60px;
}
.content {
	margin-top: 59px;
}
.content__pictures__wrap {
	display: flex;
	justify-content: space-between;
}
.picture {
	width: 300px;
	height: 123px;
	position: relative;
}
.materials {
	background-color: #ffbf47; 
}
.tools {
	background-color: #3bbce3;
}
.technik {
	background-color: #dc91d8;
}
.discounts{
	background-color: #8ed78f;
}
.delivery{
	margin-top: 20px;
	background-color: #ffc047;
}
.inside__ribbon {
	position: absolute;
	top: 0;
	right: 0;
	width: 60px;
	height: 59px;
	background-image: url(../images/ribbon.svg);
}
.ribbon__text {
	color: #ffffff;
	font-family: "PT Sans - Narrow";
	font-size: 11px;
	font-weight: 400;
	line-height: 12.73px;
	transform: rotate(45deg);
	text-align: right;
}
.content__slider__wrap {
	margin-top: 20px;
	display: flex;
}
.slider {}
.column__picture__wrap {
	margin-left: 20px;
}
.inside__item {
	padding-top: 26px;
	padding-left: 23px;
}
.inside__title {
	color: #ffffff;
	font-family: Cuprum;
	font-size: 24px;
	font-weight: 700;
	line-height: 30px;
}
.inside__button {
	color: #ffffff;
	font-family: Cuprum;
	font-size: 14px;
	font-weight: 400;
	line-height: 38px;
	text-align: center;
	margin-top: 15px;
	text-transform: uppercase;
	width: 135px;
	height: 38px;
	background-color: #000000;
	opacity: 0.1;
}
.icon__jobs {
	position: absolute;
	top: 31px;
	right: 43px;
}
.content__baner-panel__wrap {
	margin-top: 53px;
}
.content__baner-panel {
	display:flex;
	height: 89px;
	background-color: #f9f5f0;
	padding: 0 25px;
	justify-content: space-between;
}
.baner-panel__text {
	color: #32425c;
	font-family: Cuprum;
	font-size: 30px;
	font-weight: 400;
	line-height: 89px;
	text-transform: uppercase;
}
.baner-panel__button {
	align-self: center;
	width: 253px;
	height: 38px;
	background-color: #ee3643;
	color: #ffffff;
	font-family: Cuprum;
	font-size: 14px;
	font-weight: 400;
	line-height: 38px;
	text-align: center;
	text-transform: uppercase;
}
.block__product-cards__wrap {
	margin: 20px 0;
}
.container {}
.block__product-cards__row {
	display: flex;
	height: 318px;
}
.product-cards__column {
	position: relative;
	max-width: 220px;
	border: 1px solid #eaeaea;
	margin-right: 20px;
	
}
.inside__ribbon {}
.ribbon-new {
	background-image: url(../images/ribbon.svg);
	
}
.product-cards__discribe {
	align-self: flex-end;
}
.product-cards__image {
	width: 184px;
	height: 164px;
}
.product-cards__title {
	color: #000000;
	font-family: "PT Sans";
	font-size: 18px;
	font-weight: 700;
	line-height: 20px;
	padding: 0 32px;
	text-align: center;
}
.product-cards__strike-text {
	padding: 18px 70px;
	color: #a9a9a9;
	font-family: "PT Sans";
	font-size: 17px;
	font-weight: 700;
	line-height: 18px;
	text-decoration: line-through;
	text-transform: uppercase;
	word-wrap: n
}
.last{
	padding: 18px 75px;
	color: #fff;
	font-family: "PT Sans";
	font-size: 17px;
	font-weight: 700;
	line-height: 18px;
	text-decoration: line-through;
	text-transform: uppercase;
}
.button-price {
	clip-path: polygon(0% 0%, 85% 0, 100% 50%, 85% 100%, 0% 100%);
	width: 141px;
	height: 38px;
	background-color: #ee3643;
	color: #ffffff;
	font-family: "PT Sans";
	font-size: 17px;
	font-weight: 700;
	line-height: 38px;
	text-transform: uppercase;
	padding-bottom: 21px;
	margin-left: 43px;
}

.partners__icons__wrap {
	margin-top: 20px;
}
.container {}
.partners__icons__flex {
	display: flex;
	/*flex-wrap: wrap;*/
	align-items: center;
}
.icon__item {
	width: 220px;
	height: 145px;
	border: 1px solid #000;
	/*flex: 1 0 25%;*/
	margin-right: 20px;
	line-height: 145px;
}
.icon__item img{
	display: block;
	margin: auto;
}






@media screen and (max-width:600px){  
	.top__panel__flex{
		/*display: flex;*/
		/*flex-direction: column;*/
		display: none;
		
	}
	.content__pictures__wpap{
		display: none;
	}
}